/vendor/
node_modules/
npm-debug.log
yarn-error.log
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.phpdoc/
error_log
test.php
index.html
.htaccess

# Sublime Text
*.sublime-*
